---
import Layout from '../layouts/Layout.astro';
import ClusterListWrapper from '../components/ClusterListWrapper.astro';

---

<Layout title="ThinkEx - Cluster List">
	<main>
		<ClusterListWrapper />
	</main>
</Layout>
